
@font-face {
    font-family: cicons;
    font-weight: 400;
    font-style: normal;
    src: url(//m.baidu.com/se/static/font/cicon.eot?t=1627021526027#);
    src: url(//m.baidu.com/se/static/font/cicon.eot?t=1627021526027#iefix) format('embedded-opentype'),
    url(//m.baidu.com/se/static/font/cicon.woff?t=1627021526027#) format('woff'),
    url(//m.baidu.com/se/static/font/cicon.ttf?t=1627021526027#) format('truetype'),
    url(//m.baidu.com/se/static/font/cicon.svg?t=1627021526027#cicons) format('svg')
}

@font-face {
    font-family: cIconfont;
    font-weight: 400;
    font-style: normal;
    src: url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/iconfont.eot);
    src: url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/iconfont.eot?#iefix) format('embedded-opentype'),
    url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/iconfont.woff2) format('woff2'),
    url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/iconfont.woff) format('woff'),
    url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/iconfont.ttf) format('truetype'),
    url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/iconfont_5c52667.svg#iconfont) format('svg')
}

@font-face {
    font-family: DINPro;
    font-weight: 400;
    font-style: normal;
    src: url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/din-pro-cond-medium/DINPro-CondMedium.eot);
    src: url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/din-pro-cond-medium/DINPro-CondMedium.eot) format('embedded-opentype'), url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/din-pro-cond-medium/DINPro-CondMedium.woff2) format('woff2'), url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/din-pro-cond-medium/DINPro-CondMedium.woff) format('woff'), url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/din-pro-cond-medium/DINPro-CondMedium.ttf) format('truetype'), url(https://dss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/font/din-pro-cond-medium/DINPro-CondMedium_7fcf171.svg#DINPro) format('svg')
}
