* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* 移动端 去掉滚动条*/
::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar {
    display: none;
}

/* 设计图是375像素的*/
html {
    /*font-size: 100px;
      26.66667vw = 100px = 100 * 100/375px
    */
    font-size: 26.66666666666667vw;
}

/* 如果屏幕 小于320px  使用统一字号  */
@media screen and (max-width: 320px) {
    html {
        font-size: 85px;
    }
}

/* 如果屏幕 大于640px  使用统一字号*/
@media screen and (min-width: 640px) {
    html {
        font-size: 171px;
    }
}

body {
    /* 在 320px - 640px之间，占满100%缩放*/
    width: 100%;
    /* 最小限制尺寸*/
    min-width: 320px;
    /* 最大限制尺寸 只有在 320px - 640px之间才会缩放*/
    max-width: 640px;
    margin: 0 auto;

    /* 设置默认样式 */
    font-size: 14px;
    font-family: -apple-system, Helvetica, sans-serif;
    line-height: 1.5;
    color: #666;
    -webkit-text-size-adjust: 100% !important;

    position: relative;
    background-color: #f6f6f6;
    padding-bottom: 30px;

}

.content {
    width: 100%;
    overflow: hidden;
}

/* 头部区域*/
.header {
    height: 0.45rem;
    background-color: #333;
}

.header .close {
    float: left;
    width: 8%;
    height: 100%;
    background: url("../images/close.png") no-repeat center center;
    background-size: 0.15rem 0.15rem;

}

.header .logo {
    float: left;
    width: 10%;
    height: 100%;
    background: url("../images/logo.png") no-repeat center center;
    background-size: 0.3rem 0.3rem;

}

.header .title {
    float: left;
    width: 57%;
    height: 100%;
    color: #fff;
    font-size: 0.14rem;
    padding-top: 0.02rem;
    line-height: 0.45rem;
    text-align: center;
    font-weight: 400;

}

.header .open-client {
    float: left;
    width: 25%;
    height: 100%;
    background-color: #f63515;
    color: #fff;
    font-size: .14rem;
    line-height: 0.45rem;
    text-align: center;
    padding-top: 0.02rem;

}

/*搜索区域*/
.nav {
    position: relative;
    background-color: #c82519;
    height: 0.44rem;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    line-height: 0.44rem;
    overflow: hidden;
}

.nav .menu {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.4rem;
    height: 0.44rem;
    text-align: center;
}

.nav .menu i {
    display: inline-block;
    width: 0.2rem;
    height: 0.18rem;
    background: url("../images/s-btn.png") no-repeat;
    background-size: cover;
    margin: 0.14rem 0 0 0.15rem;
}

.nav .search {
    margin: 0.07rem 0.5rem;
    border-radius: 0.16rem;
    background-color: #fff;
    /*border-radius: 10px;*/
    height: 0.3rem;
    line-height: 0.3rem;
}

.nav .search .logo {
    position: relative;
    display: inline-block;
    width: 0.2rem;
    height: 0.15rem;
    background: url("../images/jd.png") no-repeat center;
    background-size: cover;
    margin: 0.08rem 0.08rem 0 0.15rem;
    border-right: 0.01rem solid #dddddd;
}

.nav .search .logo:before {
    content: "";
    position: absolute;
    border-right: 0.01rem solid #ddd;
    top: 0;
    left: 0.36rem;
    height: 0.16rem;
}

/* 搜索图标 */
.nav .search .search-icon {
    display: inline-block;
    width: 0.2rem;
    height: 0.15rem;
    /* 使用的背景精灵图是2倍图 */
    /* 二倍精灵图的做法*/
    background: url(../images/jd-sprites.png) no-repeat -0.81rem 0;
    background-size: 2rem auto;
}

.nav .search input {
    outline: none;
    border: none;
    display: inline-block;
    box-sizing: border-box;
    height: 0.16rem;
    font-size: 0.12rem;
    position: relative;
    top: -0.03rem;
}

.nav .login {
    position: absolute;
    right: 0;
    top: 0;
    display: inline-block;
    width: 0.4rem;
    height: 0.44rem;
    font-size: 0.14rem;
}


/* banner区域*/
/*banner背景图*/
.banner-content {
    position: relative;
}
.banner-bg{
    position: absolute;
    width: 100%;
    height: 1rem;
    background-color: #c82519;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    /*overflow: hidden;*/
}
.banners-wrap{
    position: relative;
}
.banners-wrap .dots {
    position: absolute;
    z-index: 1;
    bottom: 0.02rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0.6rem;
    height: 0.16rem;
    /*background-color: red;*/
    line-height: 0.16rem;
}

.banners-wrap .dots .dot {
    display: inline-block;
    width: 0.08rem;
    height: 0.08rem;
    margin-left: 0.04rem;
    border-radius: 50%;
    background-color: #ffffffAA;
}

.banners-wrap .dots .active {
    background-color: #fff;
}

/*banners轮播列表*/
.banners {
    width: 400%;
    position: relative;
    left: -100%;
    overflow: hidden;
}

.banners li {
    float: left;
    width: 23%;
    margin: 0 1%;
}

.banners li a {
    display: block;
    width: 100%;
}

.banners li img {
    width: 100%;
    /*height: 100%;*/
    /*height: 1.38rem;*/
    height: 1.38rem;
    vertical-align: middle;
    border-radius: 0.16rem;
}

/* 中间的应用推荐*/
.nav-menu {
    width: 100%;
    position: relative;
    margin-top: 0.03rem;
    padding-bottom: 0.1rem;
}

.nav-menu .apps {
    width: 100%;
    /* 流式布局 或者称为百分比布局  不需要关心高度*/
    /*height: 160px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-evenly;
    font-size: 0.12rem;
    color: #666;
    margin-bottom: 0.1rem;
}

.nav-menu .apps .app {
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: start;
}

.nav-menu .apps .app img {
    width: .4rem;
    height: .4rem;
    margin-bottom: .06rem;

}

.nav-menu .dots {
    width: 100%;
    height: .08rem;
    line-height: .08rem;
    position: absolute;
    bottom: .08rem;
    text-align: center;
    z-index: 1;
}

.nav-menu .dots span {
    display: inline-block;
    width: .05rem;
    height: .05rem;
    border-radius: 50%;
    margin-right: .02rem;
    background-color: #8c8c8c;
}

.nav-menu .dots span.active {
    background-color: #fa2c19;
}

.seckill {
    padding: 0 .1rem 0.1rem;
}

.seckill-container {
    background-color: #fff;
    /* 使用百分比布局 不需要设置高度。只设置宽度即可*/
    /*height: 140px;*/
}

.seckill-top {
    /*height: 34px;*/
    line-height: .34rem;
    /* 触发bfc，格式化上下文*/
    overflow: hidden;
    background: #fff url("../images/seckill-top-bg.png");
    background-size: cover;
    border-top-right-radius: .1rem;
    border-top-left-radius: .1rem;
}

.seckill-top .left {
    float: left;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-grow: 0;
}

.seckill-top .left h3 {
    font-weight: 400;
    font-size: .14rem;
    margin: 0 .05rem 0 .1rem;
}

.seckill-top .left .order {
    position: relative;
    color: #ff2727;
    display: block;
    margin-right: .3rem;
}

.seckill-top .left .order::after {
    position: absolute;
    top: .08rem;
    left: .16rem;
    content: '';
    display: block;
    width: .2rem;
    height: 0.17rem;
    background: url("../images/seckill-time-to_1de70c91.png");
    background-size: cover;
}

.seckill-top .left .timer {
    color: #fc402f;
    line-height: 0.34rem;
}

.seckill-top .left .timer b {
    display: inline-block;
    width: 0.06rem;
    font-size: 0.16rem;
    font-weight: 600;
    text-align: center;
    float: left;
}

.seckill-top .left .timer span {
    float: left;
    display: inline-block;
    width: .15rem;
    height: .18rem;
    line-height: .18rem;
    text-align: center;
    background-color: #fc402f;
    color: #fff;
    font-size: .12rem;
    border-radius: .04rem;
    margin-top: .08rem;

}

.seckill-top .right {
    float: right;
    color: #fc402f;
    font-size: 0.12rem;
    margin-right: 0.08rem;
}

.seckill-top .right i {
    display: inline-block;
    width: 0.11rem;
    height: 0.11rem;
    background: url("../images/arrow_rt_2ccb8cd5.png");
    background-size: cover;
    margin-left: 0.02rem;
    vertical-align: middle;
}

.seckill-content {
    /* 百分比布局不需要设置高度*/
    /*height: 106px;*/
    border-bottom-right-radius: 0.10rem;
    border-bottom-left-radius: 0.10rem;
    padding: 0 0.06rem;
}

.seckill-items {
    display: flex;
    flex-direction: rem;
    flex-grow: 0;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
}

.seckill-items .item {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    align-content: space-between;

}

.seckill-items .item img {
    width: 0.55rem;
    height: 0.55rem;
    vertical-align: center;
}

.seckill-items .item .current-price {
    margin-top: .06rem;
    color: #f2270c;
    font-size: 0.13rem;
    font-weight: 600;

}

.seckill-items .item span {
    display: inline-block;
    height: 0.14rem;
}

.seckill-items .item .old-price {
    color: #999999;
    margin-top: 0.02rem;
    font-size: .12rem;
    text-decoration: line-through;
}

.seckill-items .all-item::before {
    display: inline-block;
    content: '';
    width: .12rem;
    height: .12rem;
    background: url('../images/jd-sprites2.png') -1.07rem -1.09rem;
    background-size: 2.00rem;
}

.seckill-items .all-item {
    background-color: #f5f5f5;
    margin: 0 0.06rem 0 ;
    padding: .10rem 0.02rem;
    font-size: .12rem;
    width: .3rem;
    border-radius: 0.05rem;
}

/*商品推荐*/
.recommend {
    margin: 0 0.10rem;

}

.recommend .hot {
    display: flex;
    margin-bottom: 0.30rem;
    justify-content: space-between;
    padding: 0.06rem 0.10rem;
    background-color: #fff;
}

.recommend .hot span {
    font-size: 0.16rem;
    font-weight: 700;
    color: #000;
}

.recommend .hot p {
    font-size: 0.12rem;
    color: #666771;
}


.recommend .hot img {
    width: 0.60rem;
    height: 0.60rem;
    vertical-align: middle;
    margin: 0.05rem 0.07rem 0;
}

.recommend .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: start;
    text-align: center;
}


.recommend .items .item {
    width: 48%;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #fff;
    border-radius: 0.10rem;
    margin-bottom: 0.10rem;
}

.recommend .items .item img {
    /*width: 173px;*/
    /*height: 173px;*/
    width: 100%;
    border-radius: 0.06rem;
}


.recommend .items .item p {
    box-sizing: border-box;
    height: 0.31rem;
    font-size: 0.13rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    color: #1a1a1a;
    margin-top: 0.05rem;
    line-height: 0.16rem;
    margin-bottom: 0.03rem;
    padding: 0 0.04rem;
}

.recommend .items .item .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.06rem;
    margin-left: 0.08rem;
    padding-bottom: 0.12rem;
}

.recommend .items .item .info .price {
    color: #fa2c19;
    line-height: 0.25rem;
}

.recommend .items .item .info .price i {
    font-size: 0.13rem;
    text-decoration: none;
    font-style: normal;

}

.recommend .items .item .info .price span {
    font-size: 0.16rem;

}

.recommend .items .item .info .find {
    background-color: #f0f2f5;
    height: 0.20rem;
    color: #808080;
    border-top-left-radius: 0.10rem;
    border-bottom-left-radius: 0.10rem;
    font-size: 0.12rem;
    text-align: center;
    line-height: 0.20rem;
    padding: 0 0.05rem 0 0.05rem;
}
