* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 0;
}

::-webkit-scrollbar {
    display: none;
}

html {
    font-size: 32px;
}

@media screen and (max-width: 360px) {
    html {
        font-size: 36px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 37px;
    }
}

@media screen and (min-width: 384px) {
    html {
        font-size: 39px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 40px;
    }
}

@media screen and (min-width: 424px) {
    html {
        font-size: 43px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 48px;
    }
}

@media screen and (min-width: 540px) {
    html {
        font-size: 54px;
    }
}

body {
    -webkit-tap-highlight-color: transparent;
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: normal 16px/1.5 PingFangSC-regular, Tahoma, Lucida Grande, Verdana, Microsoft Yahei, STXihei, hei;;
    background-color: #f6f6f6;
    color: #222;
}

.search {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
    width: 100%;
    max-width: 540px;
    height: 1.173rem;
    border-top: 0.027rem solid #ccc;
    display: flex;
    flex-flow: nowrap row;
    background: #f6f6f6;
}

.search .input {
    flex: 1;
    display: flex;
    align-self: center;
    border: 1px solid #ccc;
    box-shadow: 0 0.053rem 0.16rem rgba(0, 0, 0, .3);
    height: 0.693rem;
    margin: 0 0.267rem;
    line-height: 0.693rem;
    border-radius: 0.133rem;
}

.search .input i {
    flex-grow: 0;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: url("../images/sprite.png") -1.6rem -7.467rem;
    background-size: 2.773rem;
    margin: 0.133rem 0.133rem;
}

.search .input input {
    outline: none;
    border: none;
    flex-grow: 1;
    font-size: 0.32rem;
    background-color: #f6f6f6;

}

.search .my {
    width: 1.173rem;
    height: 1.173rem;
    text-align: center;
}

.search .my .avatar {
    display: inline-block;
    width: 0.613rem;
    height: 0.613rem;
    margin-top: 0.107rem;
    vertical-align: middle;
    margin-bottom: -0.053rem;
    background: url("../images/sprite.png") -1.573rem -5.2rem;
    background-size: 2.773rem;
}

.search .my .me {
    font-size: 0.32rem;
    color: #2eaae0;
}

.banner {
    margin-top: 1.173rem;
    width: 100%;
}

.banner img {
    width: 100%;
}

.local-nav .list {
    background-color: #fff;
    margin: 0.08rem 0.107rem;
    height: 1.707rem;
    border-radius: 0.16rem;
    display: flex;
}

.local-nav .list li {
    flex: 1;
}

.local-nav .list li a {
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
}

.local-nav .list li span[class ^= 'icon'] {
    align-self: center;
    display: inline-block;
    width: 0.853rem;
    height: 0.853rem;
    margin-top: 0.213rem;
    background: url("../images/localnav_bg.png");
    background-size: 0.853rem;
}

.local-nav .list li a span.icon2 {
    background-position: 0 -0.853rem;
}

.local-nav .list li a span.icon3 {
    background-position: 0 -1.707rem;
}

.local-nav .list li a span.icon4 {
    background-position: 0 -2.56rem;
}

.local-nav .list li a span.icon5 {
    background-position: 0 -3.413rem;
}

.local-nav .list li .text {
    align-self: center;
    font-size: 0.32rem;
    color: #222;
}

.nav {
    margin: 0.08rem 0.107rem;
    border-radius: 0.213rem;
    overflow: hidden;
    background-color: #fff;
}

.nav .common-nav {
    height: 2.347rem;
    display: flex;
}

.nav .common-nav div[class ^= 'item'] {
    flex: 1;
    display: flex;
    text-align: center;
}

.nav .common-nav a {
    flex: 1;
    color: #fff;
    line-height: 1.173rem;
    font-size: 0.373rem;
    text-align: center;
    text-shadow: 0.027rem 0.027rem rgba(0, 0, 0, .2)
}

.nav .common-nav .item1 {
    border-right: 0.027rem solid #fff;

    background: url("../images/hotel.png") no-repeat bottom center;
    background-size: 3.227rem;
}

.nav .common-nav .item2 {
    flex-flow: nowrap column;
    border-right: 0.027rem solid #fff;
}

.nav .common-nav .item3 {
    flex-flow: nowrap column;
}

.nav .common-nav .item3 a,
.nav .common-nav .item2 a {
    border-bottom: 0.027rem solid #fff;
}

.nav .common-nav:nth-child(1) {
    margin-bottom: 0.08rem;
    background: #fa6d53;
    background: -webkit-linear-gradient(left, #FA5A55, #FA994D);

}

.nav .common-nav:nth-child(2) {
    margin-bottom: 0.08rem;
    background: -webkit-linear-gradient(left, #4B90ED, #53BCED);
}

.nav .common-nav:nth-child(3) {
    background: -webkit-linear-gradient(left, #34C2A9, #6CD559);
}

.sub-nav {
    margin: 0.133rem 0.107rem;
    padding-top: 0.053rem;
    border-radius: 0.16rem;
    background-color: #fff;
    display: flex;
    flex-flow: wrap row;
}

.sub-nav a::before {
    content: '';
    display: inline-block;
    width: 0.747rem;
    height: 0.747rem;
    margin-top: 0.107rem;
    background: url("../images/subnav-bg.png") no-repeat 0 0.107rem;
    background-size: 0.747rem;
    align-self: center;
}

.sub-nav a {
    width: 20%;
    flex-grow: 1;
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    text-align: center;
    font-size: 0.373rem;
    color: #222;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sub-nav a:nth-child(2)::before {
    background-position: 0.08rem -0.747rem;
}

.sub-nav a:nth-child(3)::before {
    background-position: 0.08rem -1.653rem;
}

.sub-nav a:nth-child(4)::before {
    background-position: bottom center;
}

.sub-nav a:nth-child(5)::before {
    background-position: 0.08rem -2.56rem;
}

.sub-nav a:nth-child(2)::before {
    background-position: 0.08rem -0.747rem;
}

.sale {
    margin: 0.107rem 0.107rem 0 0.107rem;
    border-top: 0.027rem solid #ccc;
    background-color: #fff;
}

.hot {
    height: 1.707rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.027rem solid #ccc;
}

.hot h2 {
    flex: 1;
    height: 0.4rem;
    background: url("../images/hot.png") no-repeat 0 -0.533rem;
    background-size: 2.107rem;
    margin-left: 0.267rem;
    text-indent: -2666666.64rem;
    overflow: hidden;
}

.hot a {
    position: relative;
    font-size: 0.373rem;
    color: #fff;
    border-radius: 0.427rem;
    margin-right: 0.133rem;
    padding: 0.08rem 0.533rem 0.08rem 0.267rem;
    background: -webkit-linear-gradient(left, #ff5c76, #ff8cd3);
}

.hot a::after {
    content: '';
    display: inline-block;
    width: 0.187rem;
    height: 0.187rem;
    border-top: #fff solid 0.053rem;
    border-right: #fff solid 0.053rem;
    transform: rotate(45deg);
    position: absolute;
    right: 0.24rem;
    top: 0.24rem;

}

.sale .row {
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 0.027rem solid #eee;
}

.sale .row a {
    flex: 1;
    width: 50%;
}

.sale .row a:nth-child(1) {
    border-right: 0.027rem solid #eee;
}

.sale .row a img {
    width: 100%;
}

.sale .recommend {
    margin: 0 0.107rem;
    border-radius: 0.48rem;
    overflow: hidden;
}

.sale .recommend img {
    width: 100%;
}

#tabbar {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    height: 1.307rem;
    width: 100%;
    max-width: 540px;
    background-color: #fff;
    padding-bottom: 0.133rem;
    box-sizing: border-box;
    box-shadow: 0 -0.133rem 0.4rem 0 rgba(0, 0, 0, .05);

    display: flex;
    flex-flow: row nowrap;
}

.info {
    margin-bottom: 1.547rem;
}

.info .tool {
    margin: 0.507rem 0.267rem 0 0.267rem;
    display: flex;
    justify-content: space-around;
}

.info .tool div {
    flex: 0;
    min-width: 2.667rem;
    height: 0.8rem;
    line-height: 0.8rem;
    border: 1px solid #999;
    border-radius: 0.107rem;
    text-align: center;
    box-sizing: content-box;

    display: flex;
    flex-flow: nowrap row;
    justify-content: center;
    align-items: center;
}

.info .tool div:before {
    content: '';
    display: inline-block;
    width: 0.347rem;
    height: 0.347rem;
    align-self: center;
    background: url("../images/phone.svg") no-repeat;
    margin-right: 0.107rem;
    background-size: cover;

}

.info .tool div:nth-child(2):before {
    background: url("../images/download.svg") no-repeat;
    background-size: cover;
}

.info .tool div:nth-child(3):before {
    background: url("../images/gloab.svg") no-repeat;
    background-size: cover;
}

.info .tool div:nth-child(3):after {
    content: '';
    width: 0;
    height: 0;
    margin-left: 0.107rem;
    display: inline-block;

    border-top: 0.133rem solid #666;
    border-bottom: 0;
    border-left: 0.107rem solid transparent;
    border-right: 0.107rem solid transparent;
}

.info .tool div a {
    font-size: 0.347rem;
    color: #333;
    line-height: 0.853rem;
}

.info .tool-dev {
    margin-top: 0.347rem;
    line-height: 0.4rem;
    font-size: 0.32rem;
    text-align: center;
}

.info .tool-dev a {
    color: #666;

}

.info .tool-dev a:nth-child(1):after {
    content: '';
    display: inline-block;
    margin: 0 0.64rem;
    height: 0.32rem;
    line-height: 0.32rem;
    border-right: 0.027rem solid #66666633;
    position: relative;
    top: 0.053rem;
}

.info p {
    font-size: 0.32rem;
    text-align: center;
    margin-top: 0.427rem;
    color: #666;
}

#tabbar a {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    color: #666;

}

#tabbar a span:nth-child(2) {
    font-size: 0.293rem;
    line-height: 0.32rem;
}

#tabbar a.active span:nth-child(2) {
    color: #0086f6;
}

#tabbar a span:nth-child(1) {
    display: inline-block;
    width: 0.853rem;
    height: 0.853rem;
    background: url("../images/tabbar.png") no-repeat top center;
    background-size: 0.853rem;

}

#tabbar a:nth-child(1) span:nth-child(1) {
    background-position: 0 -1.707rem;
}

#tabbar a:nth-child(2) span:nth-child(1) {
    background-position: 0 -0.853rem;
}

#tabbar a:nth-child(3) span:nth-child(1) {
    background-position: 0 -4.267rem;
}

#tabbar a:nth-child(4) span:nth-child(1) {
    background-position: 0 -5.973rem;
}


